body{
  justify-items:center;
  background: white;
}
      
#tab{
  background-color:#40434A;
  position:fixed;
  top:0px;
  width:100%;
  height:50px;
  margin:auto; 
  display:flex;
  justify-content:center;
  align-items:flex-start;
  overflow:hidden;
  z-index:99;
}
#tab button{
  color:white;
  background-color:inherit;
  border:none;
  cursor:pointer;
  padding: 15px 15px;
  /*margin-left:10px;*/
  /*margin-right:10px;*/
  font-size:16px;
  transition:0.3s;
}
#tab button:hover{
  background-color:gainsboro;
  color:black;
}
   
     
.sectionHome{
  height:500px;
  width:100%;
  display:flex; 
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://i.ibb.co/Nmg65nb/code-bg-1.jpg); 
  background-repeat:no-repeat;
  background-size:cover;
} 
#head1{
  position:relative;
  top:100px;
  left:-240px;
} 
#para1{
  cursor:pointer;
  position:relative;
  right:-305px;
  bottom:100px;
  transition: color 0.3s ease-in;
}
#para1:hover{
  color:#4ad2fd;
}
.divheroheader{
  opacity:0;
  cursor:pointer;
  font-size:35px;;
  line-height:1.2;
  font-family:"Raleway", sans-serif;
  animation: TextAnimation 1s ease-in forwards 0.5s;
}
.divheroheader hr{
  color:white;
  width:80%;
  position:relative;
  left:-20px;
}
.hero1{
  color:white;
  font-weight:bold;
  transition: color 0.3s ease-out;
}
.hero1:hover{
  color:deepskyblue;
    
}
.hero2{
  color:deepskyblue;
  font-weight:bolder;
  font-size:40px;
  transition: color 0.3s ease-out;
}
.hero2:hover{
  color:white;
}
.hero3{
  color:deepskyblue;
  font-weight:bolder;
  font-size:40px;
  transition: color 0.3s ease-out;
}
.hero3:hover{
  color:white;
}
.divParagraph{
  min-width: 200px;
  max-width: 330px;
  opacity:0;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-size:16px;
  color:white;
  animation: TextAnimation 1s ease-in forwards 0.5s;
}
.divParagraph p{
width:100%;
margin-bottom:-10px;
}
.divParagraph hr{
width:100%;
margin-top:20px;
}
#Circle{
  opacity:0;
  width:250px;
  height:250px;
  z-index:0;
  pointer-events:none;
  animation: FadeIn 1s ease-in forwards 0.5s;
}
#Profile{
  opacity:0;
  position:absolute;
  top:32%;
  border-radius:50%;
  width:210px;
  height:210px;
  transition:transform 0.3s ease-out, filter 0.3s ease-in;
  z-index:0;
  animation: FadeIn 1s ease-in forwards 0.5s;
}
#Profile:hover{
  cursor:pointer;
  transform:scale(1.1);
  filter:grayscale(100%);
}
           
.sectionEducation{
  height:500px;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("https://s12.gifyu.com/images/SQAqV.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  gap:20px;
     
}
.Eduintro{
  opacity:0;
  margin-top:25px;
  display:flex;
  gap: 15px;
  animation: TextAnimation 1s ease-in forwards 0.5s;
}
.Eduintro h1{
  font-size:35px;
  font-weight:bolder;
  font-family:"Raleway", sans-serif;
  color:white
}
#Edupic{
  height:100px;
  width:100px;
}
.divEdu{
  opacity:0;
  position:relative;
  margin-bottom:0px;
  display:flex;
  gap:50px;
  height:100%;
  animation: TextAnimation 1s ease-in forwards 0.5s;
}
.EduBg{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.EduBg h2{
  font-size:25px;
  font-weight:bold;
  font-family:"Roboto", sans-serif;
  color:white;
}
.EduBg p{
  font-size:16px;
  font-weight:400;
  font-family:"Roboto", sans-serif;
  color:white
}
.line {
  width: 2px;
  height: 200px;
  background-color: white;
}
.EduAcc{
  display:flex;
  flex-direction:column;
  align-items:center;
} 
.EduAcc h2{
  font-size:25px;
  font-weight:bold;
  font-family:"Roboto", sans-serif;
  color:white;
} 
.EduAcc p{
  font-size:16px;
  font-weight:400;
  font-family:"Roboto", sans-serif;
  color:white
}
#resultbutton {
  opacity:0;
  display: inline-block;
  background-color: lightslategray;
  border-radius: 8px;
  padding: 15px 30px;
  color: white;
  text-decoration: none;
  font-size:18px;
  font-weight: bold;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  transition: color 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  border:none;
  margin-bottom:80px;
  animation: TextAnimation 1s ease-in forwards 0.5s;
}
#resultbutton:hover {
  background-color: white;
  color: LightSlateGray;
  transform: scale(1.05);
  cursor:pointer;
}
     
.sectionCertification{
  height:500px;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://i.ibb.co/cgQQKrs/retrosupply-j-Lw-VAUt-LOAQ-unsplash.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  gap:20px;
      
}
.Certintro{
  opacity:0;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:0px;
  animation: TextAnimation 1s ease-in forwards 0.5s;
}
.Certintro h1{
  font-size:35px;
  font-weight:bolder;
  font-family:"Raleway", sans-serif;
  color:white;
  margin-bottom:5px;
}
.Certintro p{
  position:relative;
  font-size:16px;
  font-weight:400;
  font-family:"Roboto", sans-serif;
  color:Whitesmoke;
  margin-top:0;
}
#Certpic{
  height:100px;
  width:100px;
}
.divCert{
  opacity:0;
  position:relative;
  animation: TextAnimation 1s ease-in forwards 0.5s;
  display:flex;
  gap:50px;
  height:100%;
}
.CertRobotics{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.CertRobotics h2{
  font-size:25px;
  font-weight:bold;
  font-family:"Roboto", sans-serif;
  color:white;
}
.CertRobotics p{
  font-size:16px;
  font-weight:400;
  font-family:"Roboto", sans-serif;
  color:white
}
.line {
  width: 2px;
  height: 200px;
  background-color: white;
}
.CertOthers{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.CertOthers h2{
  font-size:25px;
  font-weight:bold;
  font-family:"Roboto", sans-serif;
  color:white;
}
.CertOthers p{
  font-size:16px;
  font-weight:400;
  font-family:"Roboto", sans-serif;
  color:white
}
#certbutton {
  opacity:0;
  display: inline-block;
  background-color: lightslategray;
  border-radius: 8px;
  padding: 15px 30px;
  color: white;
  text-decoration: none;
  font-size:18px;
  font-weight: bold;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  transition: color 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  border:none;
  margin-bottom:80px;
  animation: TextAnimation 1s ease-in forwards 0.5s;
}
#certbutton:hover {
  background-color: white;
  color: LightSlateGray;
  transform: scale(1.05);
  cursor:pointer;
}
   
.sectionSkills{
  height:500px;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:start;
  align-items:center;
  background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://i.ibb.co/p67DQ4h/photo-1489034105530-f46eb91f1e27.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  gap:40px;
     
}
.Skillintro{
  opacity:0;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:0px;
  margin-top:0px;
  animation: TextAnimation 1s ease-in forwards 0.5s;
} 
.Skillintro h1{
  font-size:35px;
  font-weight:bolder;
  font-family:"Raleway", sans-serif;
  color:white;
  margin-bottom:7px;
}
.Skillintro p{
  font-size:16px;
  font-weight:400;
  font-family:"Roboto", sans-serif;
  color:Whitesmoke;
  margin-top:0px;
} 
.divSkills{
  opacity:0;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  width:50%;
  height:auto;
  gap:50px;
  animation: TextAnimation 1s ease-in forwards 0.5s;
}
.divSubSkills{
  display:block;
} 
.divSubSkills h2{
  font-size:25px;
  font-weight:bold;
  font-family:"Roboto", sans-serif;
  color:white;
} 
.divSubSkills p{
  font-size:16px;
  font-weight:400;
  font-family:"Roboto", sans-serif;
  color:Whitesmoke;
}
.divSubSkills img{
  border-radius:20%;
  background-color:gainsboro;
  border: 2px solid white;
}
.skillimg{
  height:100px;
  width:100px;
}
       
.slideshow {
  overflow:hidden;
  position: relative;
  top:40px;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 500px; /* Adjust the height as needed */
     
}
.slides{
  animation-duration: 1.5s;
  animation-name: slide-right-left;
  animation-timing-function:ease-in-out;
     
}
.slides.active {
  transform: translateX(0);
}
.slides.hidden {
  transform: translateX(-100%);
}
     
.prev,
.next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev {
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.next {
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
  
.navigation-button {
  text-align: center;
  position: relative;
  top:-40px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.dot:hover {
  background-color: white;
}
@keyframes slide-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-right-left {
  0% {
    transform: translateX(100%);
    opacity:0;
  }
  100% {
    transform: translateX(0);
    opacity:1;
  }
}
@keyframes slide-up-down {
  0%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(20px);
  }
}
.slides-fade{
  animation-name: slide-fade;
  animation-duration: 1s;
}
.slides-right-left{
  animation-name: slide-right-left;
  animation-duration: 1s;
}
   
.sectionAbout{
  height:500px;
  width:100%;
  display:flex;
  flex-direction:column; 
  justify-content:center;
  align-items:center;
  background-color:gray;
  gap:20px;
  background-image:linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)), url("https://i.ibb.co/g92Z830/tim-mossholder-07uiq-D9-LS6-U-unsplash.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
.sectionAbout h1{
  opacity:0;
  font-size:35px;
  font-weight:bolder;
  font-family:"Raleway", sans-serif;
  color:white;
  margin-bottom:5px;
  animation: TextAnimation 1s ease-in forwards 0.5s;
}
.divAbout{
  opacity:0;
  position:relative;
  display:flex;
  justify-content:center;
  gap:50px;
  height:100%;
  animation: TextAnimation 1s ease-in forwards 0.5s;
}
.AboutBg{
  display:flex;
  flex-direction:column;
}
.AboutBg h2{
  font-size:25px;
  font-weight:bold;
  font-family:"Roboto", sans-serif;
  color:white;
}
.AboutBg p{
  font-size:16px;
  font-weight:400;
  font-family:"Roboto", sans-serif;
  color:white;
  margin-top:0px;
  margin-bottom:0px;
}
.About br{
  line-height:1px;
}
.blackline{
  width: 2px;
  height: 280px;
  background-color: white;
  margin-top:20px;
}
.AboutAva{
  display:flex;
  flex-direction:column;
}
.AboutAva h2{
  font-size:25px;
  font-weight:bold;
  font-family:"Roboto", sans-serif;
  color:white;
}
.AboutAva p{
  font-size:16px;
  font-weight:400;
  font-family:"Roboto", sans-serif;
  color:white;
  margin-top:0px;
  margin-bottom:0px;
}
#contactbutton {
  display: inline-block;
  background-color: lightslategray;
  border-radius: 8px;
  padding: 10px 10px;
  color: white;
  text-decoration: none;
  font-size:15px;
  font-weight: bold;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  transition: color 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  border:none;
  margin-top:25px;
  width:30%;
  height:50px;
}
#contactbutton:hover {
  background-color: white;
  color: LightSlateGray;
  transform: scale(1.05);
  cursor:pointer;
}
   
.sectionProjects{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:inherit;
  gap:40px;
  padding:5%;
     
} 
.sectionProjects h1{
  font-size:35px;
  font-weight:bolder;
  justify-self:center;
  align-self:center;
  font-family:"Raleway", sans-serif;
  color:black;
  margin-bottom:5px;
  animation: TextAnimation 1s ease-in-out forwards ;
}
.divProjects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;;
  animation: TextAnimation 1s ease-in-out forwards ;
}
.projectImgWrapper {
  min-width: 300px;
}
.projectImg {
  width: 100%;
  height: 100%;
}
.projectInfo{
  width: 100%;
  height: 100%;
}
.projectInfoWrapper{
  min-width: 300px;
  max-width: 450px;
}
.projectInfo h2{
  font-size:25px;
  font-weight:bold;
  font-family:"Roboto", sans-serif;
  color:black;
}
.projectInfo p{
  min-width: 300px;
  max-width: 500px;
  font-size:16px;
  font-weight:400;
  font-family:"Roboto", sans-serif;
  color:black;
  margin-top:0px;
  margin-bottom:0px;
}
.casestudybutton {
  display: inline-block;
  background-color: lightslategray;
  border-radius: 8px;
  padding: 10px 10px;
  color: white;
  text-decoration: none;
  font-size:15px;
  font-weight: bold;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  transition: color 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  border:none;
  margin-top:25px;
  width:170px;
  height:50px;
}
.casestudybutton:hover {
  background-color: white;
  color: LightSlateGray;
  transform: scale(1.05);
  cursor:pointer;
}
    
@keyframes TextAnimation{
  0%{
    opacity:0;
    transform:translateY(10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
} 
@keyframes FadeIn{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}