body{
  display:flex;
  flex-direction: column;
  justify-items:center;
  background: white;
}
      
#tab{
  background-color:#40434A;
  position:fixed;
  top:0px;
  width:100%;
  height:50px;
  margin:auto; 
  display:flex;
  justify-content:center;
  align-items:flex-start;
  overflow:hidden;
  z-index:99;
}
#tab button{
  color:white;
  background-color:inherit;
  border:none;
  cursor:pointer;
  padding: 15px 15px;
  /*margin-left:10px;*/
  /*margin-right:10px;*/
  font-size:16px;
  transition:0.3s;
}
#tab button:hover{
  background-color:gainsboro;
  color:black;
}
   
     
.sectionHome{
  height:600px;
  width:100%;
  display:flex; 
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://i.ibb.co/Nmg65nb/code-bg-1.jpg); 
  background-repeat:no-repeat;
  background-size:cover;
} 
#head1{
  position:relative;
  top:100px;
  left:-270px;
} 
#para1{
  cursor:pointer;
  position:relative;
  right:-315px;
  bottom:100px;
  transition: color 0.3s ease-in;
}
#para1:hover{
  color:#4ad2fd;
}
.divheroheader{
  opacity:0;
  cursor:pointer;
  font-size:40px;;
  line-height:1.2;
  font-family:"Raleway", sans-serif;
  animation: TextAnimation 1s ease-in forwards 0.5s;
}
.divheroheader hr{
  color:white;
  width:80%;
  position:relative;
  left:-20px;
}
.hero1{
  color:white;
  font-weight:bold;
  transition: color 0.3s ease-out;
}
.hero1:hover{
  color:deepskyblue;
    
}
.hero2{
  color:deepskyblue;
  font-weight:bolder;
  font-size:45px;
  transition: color 0.3s ease-out;
}
.hero2:hover{
  color:white;
}
.hero3{
  color:deepskyblue;
  font-weight:bolder;
  font-size:45px;
  transition: color 0.3s ease-out;
}
.hero3:hover{
  color:white;
}
.divParagraph{
  min-width: 200px;
  max-width: 330px;
  opacity:0;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-size:17px;
  color:white;
  animation: TextAnimation 1s ease-in forwards 0.5s;
}
.divParagraph p{
width:100%;
margin-bottom:-10px;
}
.divParagraph hr{
width:90%;
margin-top:20px;
}

#Circle{
  opacity:0;
  width:300px;
  height:300px;
  z-index:0;
  pointer-events:none;
  animation: FadeIn 1s ease-in forwards 0.5s;
}
#Profile{
  opacity:0;
  position:absolute;
  align-self: center;
  top:190px;
  border-radius:50%;
  width:250px;
  height:250px;
  transition:transform 0.3s ease-out, filter 0.3s ease-in;
  z-index:0;
  animation: FadeIn 1s ease-in forwards 0.5s;
}
#Profile:hover{
  cursor:pointer;
  transform:scale(1.1);
  filter:grayscale(100%);
}

.sectionAbout{
  display:flex;
  flex-direction:column; 
  justify-content:center;
  align-items:center;
  background-color:inherit;
  background-repeat:no-repeat;
  background-size:cover;
  border-radius:10px;
  box-shadow: 6px 6px 15px 5px rgb(173, 173, 173);
  gap: 50px;
  padding:4%;
  margin-top: 5%;
  margin-bottom: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
}
.sectionAbout h1{
  opacity:0;
  font-size:35px;
  font-weight:bolder;
  font-family:"Raleway", sans-serif;
  color:black;
  margin-bottom:5px;
  animation: TextAnimation 1s ease-in forwards 0.5s;
}
.divAbout{
  opacity:0;
  position:relative;
  display:flex;
  justify-content:center;
  gap:50px;
  height:100%;
  animation: TextAnimation 1s ease-in forwards 0.5s;
}
.AboutBg{
  display:flex;
  flex-direction:column;
}
.AboutBg h2{
  font-size:25px;
  font-weight:500;
  font-family:"Roboto", sans-serif;
  color:black;
}
.AboutBg p{
  min-width:300px;
  max-width:450px;
  font-size:16px;
  font-weight:400;
  font-family:"Roboto", sans-serif;
  color:black;
  margin-top:0px;
  margin-bottom:0px;
}
.About br{
  line-height:1px;
}
#certbutton {
  display: inline-block;
  background-color: lightslategray;
  border-radius: 8px;
  padding: 10px 10px;
  color: white;
  text-decoration: none;
  font-size:15px;
  font-weight: bold;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  transition: color 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  border:none;
  margin-top:25px;
  width:40%;
  height:10%;
}
#certbutton:hover {
  background-color: white;
  color: LightSlateGray;
  transform: scale(1.05);
  cursor:pointer;
}
   
.sectionProjects{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:inherit;
  box-shadow: 6px 6px 15px 5px rgb(173, 173, 173);
  border-radius:10px;
  gap:40px;
  padding:4%;
  margin-top: 2.5%;
  margin-bottom:2.5%;
  margin-left: 5%;
  margin-right: 5%;
     
} 
.sectionProjects h1{
  font-size:35px;
  font-weight:bolder;
  justify-self:center;
  align-self:center;
  font-family:"Raleway", sans-serif;
  color:black;
  margin-bottom:5px;
  animation: TextAnimation 1s ease-in-out forwards ;
}
.divProjects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;;
  animation: TextAnimation 1s ease-in-out forwards ;
}
.projectImgWrapper {
  min-width: 300px;
}
.projectImg {
  width: 100%;
  height: 100%;
}
.projectInfo{
  width: 100%;
  height: 100%;
}
.projectInfoWrapper{
  min-width: 300px;
  max-width: 450px;
}
.projectInfo h2{
  font-size:25px;
  font-weight:bold;
  font-family:"Roboto", sans-serif;
  color:black;
}
.projectInfo p{
  min-width: 300px;
  max-width: 450px;
  font-size:16px;
  font-weight:400;
  font-family:"Roboto", sans-serif;
  color:black;
  margin-top:0px;
  margin-bottom:0px;
}
.casestudybutton {
  display: inline-block;
  background-color: lightslategray;
  border-radius: 8px;
  padding: 10px 10px;
  color: white;
  text-decoration: none;
  font-size:15px;
  font-weight: bold;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  transition: color 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  border:none;
  margin-top:25px;
  width:170px;
  height:50px;
}
.casestudybutton:hover {
  background-color: white;
  color: LightSlateGray;
  transform: scale(1.05);
  cursor:pointer;
}
    
.sectionRecommendation{
  background-color:#40434A;
  height: 300px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  box-shadow: 6px 6px 15px 5px rgb(173, 173, 173);
  border-radius:10px;
  gap:40px;
  padding:4%;
  margin-top: 2.5%;
  margin-bottom:2.5%;
  margin-left: 5%;
  margin-right: 5%;
}


@keyframes TextAnimation{
  0%{
    opacity:0;
    transform:translateY(10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
} 
@keyframes FadeIn{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}